n8n-zero-balance-workflow.json
{
  "name": "Saldo Zerado Meta Ads → WhatsApp (tempo real)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "cron-trigger",
      "name": "A cada 15 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://app.assessorialp.com.br/api/webhooks/balance-alerts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "secret", "value": "alertas-meta-2024" },
            { "name": "domain", "value": "app.assessorialp.com.br" },
            { "name": "zero_only", "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "fetch-alerts",
      "name": "Buscar saldo zerado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-alerts",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-alerts",
      "name": "Tem saldo zerado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "alerts",
        "options": {}
      },
      "id": "split-alerts",
      "name": "Para cada alerta",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evoapi.assessorialp.com.br/message/sendText/automacao-teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "8ECACE50D872-4057-BFD5-05E460E11483" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "120363427711895391@g.us" },
            { "name": "text", "value": "={{ $json.message }}" }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "A cada 15 minutos": {
      "main": [[{ "node": "Buscar saldo zerado", "type": "main", "index": 0 }]]
    },
    "Buscar saldo zerado": {
      "main": [[{ "node": "Tem saldo zerado?", "type": "main", "index": 0 }]]
    },
    "Tem saldo zerado?": {
      "main": [
        [{ "node": "Para cada alerta", "type": "main", "index": 0 }],
        []
      ]
    },
    "Para cada alerta": {
      "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
